@charset "utf-8";
@import "./reset.css";


.landing {
    height: 100svh;
    background: url("../images/aurora.jpg") center/cover no-repeat;
    display: grid;
    place-items: center;
    text-align: center;
}

.hero-text h1 {
    font-size: 50px;
    color: #fff;
}

.hero-text p {
    color: #ded9d9;
    font-size: 20px;
    font-weight: bold;
}


dialog {
    width: 260px;            
    min-height: 180px;        
    border: none;
    border-radius: 5px;
    padding: 20px;

    background: #ffffff;

   
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 3px 10px rgba(0,0,0,0.25); 
}


dialog::backdrop {
    background: rgba(0,0,0,0.45);
}


.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    padding: 7px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}


.accept-all {
    background: #4c6ef5;
    color: #fff;
}


.open-settings {
    background: #e3e3e3;
}


.save-preferences {
    background: #4c6ef5;
    color: #fff;
    width: 100%;
    margin-top: 12px;
    font-weight: bold;
}



.toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    font-size: 15px;
}

.toggle input[type="checkbox"] {
    transform: scale(1.1);
    cursor: pointer;
}


.save-preferences {
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
}
